/*================================================*/
/*				   M E D I A  K I T   P A G E     */
/*================================================*/
main .nm-share-block {
  position: absolute;
  top: -32px;
  right: 160px;
  padding: 10px 30px 10px 10px;
  height: 54px;
  z-index: 10;
}
main .nm-share-block .nm-share-toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 45px;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  z-index: 10;
  background-image: linear-gradient(to top, #4c9fbe, #8a9be3);
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
  right: -20px;
}
main .nm-share-block .nm-share-toggle .nm-svg {
  fill: #fff;
}
main .nm-share-block .nm-share-toggle:hover .nm-svg {
  fill: #fff;
}
main .nm-share-block .nm-share-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 34px;
  min-width: 34px;
  height: 34px;
  margin-top: 6px;
  margin-right: 12px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  will-change: opacity, transform, background;
  z-index: 1;
  color: #fff;
  float: right;
  background: #fff;
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
}
main .nm-share-block .nm-share-btn .nm-svg {
  fill: #353c53;
}
main .nm-share-block .nm-share-btn:hover {
  background: #4186b1;
}
main .nm-share-block .nm-share-btn:hover .nm-svg {
  fill: #fff;
}
main .nm-share-block .nm-share-btn:nth-child(2) {
  transform: translateX(44px);
  transition: transform 0.5s cubic-bezier(0.875, 0.26, 0, 1.005) 0.2s, opacity 0.4s cubic-bezier(0.875, 0.26, 0, 1.005) 0.2s, visibility 0.5s linear 0.2s, background 0.2s linear 0s;
  z-index: 5;
}
main .nm-share-block .nm-share-btn:nth-child(3) {
  transform: translateX(88px);
  transition: transform 0.5s cubic-bezier(0.875, 0.26, 0, 1.005) 0.15s, opacity 0.4s cubic-bezier(0.875, 0.26, 0, 1.005) 0.15s, visibility 0.5s linear 0.15s, background 0.2s linear 0s;
  z-index: 4;
}
main .nm-share-block .nm-share-btn:nth-child(4) {
  transform: translateX(132px);
  transition: transform 0.5s cubic-bezier(0.875, 0.26, 0, 1.005) 0.1s, opacity 0.4s cubic-bezier(0.875, 0.26, 0, 1.005) 0.1s, visibility 0.5s linear 0.1s, background 0.2s linear 0s;
  z-index: 3;
}
main .nm-share-block .nm-share-btn:nth-child(5) {
  transform: translateX(176px);
  transition: transform 0.5s cubic-bezier(0.875, 0.26, 0, 1.005) 0.05s, opacity 0.4s cubic-bezier(0.875, 0.26, 0, 1.005) 0.05s, visibility 0.5s linear 0.05s, background 0.2s linear 0s;
  z-index: 2;
}
main .nm-share-block .nm-share-btn:nth-child(6) {
  transform: translateX(220px);
  transition: transform 0.5s cubic-bezier(0.875, 0.26, 0, 1.005) 0s, opacity 0.4s cubic-bezier(0.875, 0.26, 0, 1.005) 0s, visibility 0.5s linear 0s, background 0.2s linear 0s;
  z-index: 1;
}
main .nm-share-block.open {
  height: auto;
}
main .nm-share-block.open .nm-share-toggle {
  background-image: linear-gradient(to top, #ffffff, #f0f0f0);
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
}
main .nm-share-block.open .nm-share-toggle svg {
  fill: #115a66!important;
}
main .nm-share-block.open .nm-share-toggle .nm-svg {
  fill: #fff;
}
main .nm-share-block.open .nm-share-btn {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transform: none;
}
main .nm-share-block.open .nm-share-btn:nth-child(2) {
  transition: transform 0.5s cubic-bezier(0.875, 0.26, 0, 1.005) 0s, opacity 0.4s cubic-bezier(0.875, 0.26, 0, 1.005) 0s, visibility 0.5s linear 0s, background 0.2s linear 0s;
}
main .nm-share-block.open .nm-share-btn:nth-child(3) {
  transition: transform 0.5s cubic-bezier(0.875, 0.26, 0, 1.005) 0.05s, opacity 0.4s cubic-bezier(0.875, 0.26, 0, 1.005) 0.05s, visibility 0.5s linear 0.05s, background 0.2s linear 0s;
}
main .nm-share-block.open .nm-share-btn:nth-child(4) {
  transition: transform 0.5s cubic-bezier(0.875, 0.26, 0, 1.005) 0.1s, opacity 0.4s cubic-bezier(0.875, 0.26, 0, 1.005) 0.1s, visibility 0.5s linear 0.1s, background 0.2s linear 0s;
}
main .nm-share-block.open .nm-share-btn:nth-child(5) {
  transition: transform 0.5s cubic-bezier(0.875, 0.26, 0, 1.005) 0.12s, opacity 0.4s cubic-bezier(0.875, 0.26, 0, 1.005) 0.15s, visibility 0.5s linear 0.15s, background 0.2s linear 0s;
}
main .nm-share-block.open .nm-share-btn:nth-child(6) {
  transition: transform 0.6s cubic-bezier(0.875, 0.26, 0, 1.005) 0.12s, opacity 0.5s cubic-bezier(0.875, 0.26, 0, 1.005) 0.15s, visibility 0.6s linear 0.15s, background 0.2s linear 0s;
}
/*================================================*/
/*						  MEDIA				      */
/*================================================*/
@media (max-width: 1200px) {
  main .nm-share-block {
    right: 80px;
  }
}
@media (max-width: 920px) {
  main .nm-share-block {
    right: 80px;
  }
}
@media (max-width: 620px) {
  main .nm-share-block {
    right: 50px;
  }
  main .nm-share-block .nm-share-btn {
    margin-right: 6px;
  }
}
