.division-dropdown {
  position: relative;
}
.division-dropdown-selected {
  color: #486e7c;
  font-family: 'HelveticaNeueCyr-Medium-user', sans-serif;
  font-size: 14px;
}
.division-dropdown-list {
  left: 0;
  font-family: 'GothamPro-Medium-user', sans-serif;
  font-size: 9px;
  position: absolute;
  text-transform: uppercase;
  top: 100%;
}
.division-dropdown-list > .item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.division-dropdown-list > .item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.division-dropdown-list > .item {
  color: #a1a6ac;
  border-top: 1px solid #c9cccf;
  padding: 8px 10px;
}
