-
	var teamAboutTxt = '<p>Real Madrid live score (and video online live stream*), team roster with season schedule and results.\' Real Madrid is playing next match on 23. Apr 2017 against Barcelona in Primera Division.</p>'+
	'<p>When the match starts, you will be able to follow <a href="/">Real Madrid v Barcelona live score</a>, standings, minute by minute updated live results and match statistics. We may have video highlights with goals and news for some Real Madrid matches, but only if they play their match in one of the most popular football leagues. Real Madrid previous match was against Bayern München in UEFA Champions League, Knockout stage, match ended with result 4 - 2 (Real Madrid won the match). Real Madrid fixtures tab is showing last 100 football matches with statistics and win/draw/lose icons. There are also all Real Madrid scheduled matches that they are going to play in the future.</p> \n'+
	'\n'+
	'<p>Real Madrid performance & form graph is SofaScore Football livescore unique algorithm that we are generating from team’s last 10 matches, statistics, detailed analysis and our own knowledge. This graph may help you to bet on Real Madrid matches, but be aware of that SofaScore LiveScore accepts no responsibility or liability for any financial or other loss, be it direct or indirect, as a result of any action reliant on any of this website’s content.</p> \n'+
	'\n'+
	'<p>In match details we offer link to watch online Real Madrid Barcelona live stream , sponsored by bet365. If this match is covered by bet365 live streaming you can watch Real Madrid Barcelona on your PC and on mobile - iPhone, iPad, Android or Windows phone. Please note that the intellectual property rights to stream such events are usually owned at a country level and therefore, depending on your location, there may be certain events that you may be unable to view due to such restrictions.</p> \n'+
	'\n'+
	'<p>Current Real Madrid squad is:</p> \n'+
	'\n'+
	'<p>Forwards: Cristiano Ronaldo, Karim Benzema, Gareth Bale, Álvaro Morata, Mariano Díaz, Lucas Vázquez</p> \n'+
	'\n'+
	'<p>Midfilders: Luka Modrić, Toni Kroos, Isco, James Rodríguez, Casemiro, Mateo Kovačić, Marco Asensio, Enzo Zidane</p> \n'+
	'\n'+
	'<p>Defenders: Pepe, Sergio Ramos, Marcelo, Fábio Coentrão, Nacho Fernández, Danilo, Raphaël Varane, Daniel Carvajal, Achraf Hakimi, Alvaro Tejero</p> \n'+
	'\n'+
	'<p>Goalkeepers: Kiko Casilla, Keylor Navas, Rubén Yáñez, Luca Zidane</p> \n'+
	'\n'+
	'<p>You can click on any player from the roster on the right and see his personal information such as nationality, date of birth, height, preferred foot, position, player value, transfer history etc. There are also statistics for each player in all competitions with all total played and started matches, minutes played, number of goals scored, number of cards and much more. Real Madrid top scorers list is updated live during every match.</p> \n'+
	'\n'+
	'<p>SofaScore football livescore is available as iPhone and iPad app, Android app on Google Play and Windows phone app. You can find us in all stores on different languages searching for "SofaScore". Install SofaScore app and follow all Real Madrid matches live on your mobile!</p>';

.box-container
	.box-title.-bottom-border
		.title ABOUT
	.box-inner
		.team-about!= teamAboutTxt
